<div class="container-fluid">
	<div class="row">
		
		
		<div class="panel panel-default">
			<div class="panel-heading">User Control Panel</div>



			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th hidden>ObjectID</th>
							<th>Username</th>
							<th>Email</th>
							<th>Designation</th>
							<th>Password</th>
							<th>Modules</th>
							<th>Role</th>
							<th>Active</th>
							<th>Save Changes</th>
							<th>Delete User</th>
						</tr>
					</thead>
					<tbody>

						<tr ng-repeat="users in usersList">
							<td hidden>{{users._id}}</td>
							<td><input type="text" class="form-control" ng-model="users.username" name="username"></td>
							<td><input type="email" class="form-control" ng-model="users.email" name="email"></td>
							<td><input type="text" class="form-control" ng-model="users.designation" name="designation"></td>
							<td><input type="password" class="form-control" ng-model="users.password" name="password"></td>
							<td><dropdown-multiselect pre-selected="users.modules" selected-id="users._id"  name="module{{$index}}" model="users.modules" options="roles"></dropdown-multiselect></td>
							<td><div class="radio"><label>
								<input type="radio" ng-model="users.role" name="role{{$index}}" value="pUser" ng-model="role">
								Power User
							</label>
							<label>
								<input type="radio" ng-model="users.role" name="role{{$index}}" value="aManager" ng-model="role">
								Application Manager
							</label>
							<label>
								<input type="radio" ng-model="users.role" name="role{{$index}}" value="aOwner" ng-model="role">
								Application Owner
							</label></div></td>
							<td><input ng-model="users.active" type="checkbox"></td>
							<td><button class="btn btn-success" ng-click="updateUser($index)">Update User</button></td>
							<td><button class="btn btn-success" ng-click="deleteUser($index)">Delete User</button></td>
						</tr>	
					</tbody>
				</table>
				<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
			</div>
		</div>
	</div>
</div>